<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Music_Life_V11.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Music_Life_V10.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Login_Form.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <Music_Life_V11.Properties.Settings>
            <setting name="rmbu" serializeAs="String">
                <value />
            </setting>
            <setting name="rmbp" serializeAs="String">
                <value />
            </setting>
            <setting name="mainacc" serializeAs="String">
                <value />
            </setting>
            <setting name="bc" serializeAs="String">
                <value>28, 151, 234</value>
            </setting>
            <setting name="t" serializeAs="String">
                <value>28, 151, 234</value>
            </setting>
            <setting name="bt" serializeAs="String">
                <value>45, 45, 46</value>
            </setting>
            <setting name="bcc" serializeAs="String">
                <value>45, 45, 46</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value />
            </setting>
            <setting name="final" serializeAs="String">
                <value />
            </setting>
        </Music_Life_V11.Properties.Settings>
        <Music_Life_V10.Properties.Settings>
            <setting name="rmbu" serializeAs="String">
                <value/>
            </setting>
            <setting name="rmbp" serializeAs="String">
                <value/>
            </setting>
            <setting name="mainacc" serializeAs="String">
                <value/>
            </setting>
            <setting name="bc" serializeAs="String">
                <value>28, 151, 234</value>
            </setting>
            <setting name="t" serializeAs="String">
                <value>28, 151, 234</value>
            </setting>
            <setting name="b" serializeAs="String">
                <value>236, 240, 241</value>
            </setting>
            <setting name="bt" serializeAs="String">
                <value>45, 45, 46</value>
            </setting>
            <setting name="bcc" serializeAs="String">
                <value>45, 45, 46</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value/>
            </setting>
        </Music_Life_V10.Properties.Settings>
        <Login_Form.Properties.Settings>
            <setting name="rmbu" serializeAs="String">
                <value/>
            </setting>
            <setting name="rmbp" serializeAs="String">
                <value/>
            </setting>
        </Login_Form.Properties.Settings>
    </userSettings>
</configuration>
